<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Media Buy & Sell - Favourites</title>
    <%- include('partials/_head') %>
  </head>

  <body id="favourites-page">
    <%- include('partials/_header') %>
    <h1>Your Favourite Listings</h1>

    <% for (let favorite in favorites) { %>
      <div class="favorites-container">
        <img class='img-container' src="<%=favorites[favorite]['image_url'] %>" />
        <div class="favorite-info">
          <section>
          <h4><%- favorites[favorite]['title'] %></h4>
          <p>$<%- favorites[favorite]['price'] %>.00</p>
        </section>
        <div class="action-buttons">
          <form method="GET" action="/listings/<%- favorites[favorite]['listing_id']%>">
            <button type="submit">
              <i class="far fa-eye"></i>
               View More
           </button>
         </form>
         <form method="GET" action="/messages/<%- favorites[favorite]['seller_id']%>">
          <button type="submit">
            <i class="fas fa-comments"></i>
            Message Seller
          </button>
        </form>
        <form method="POST" action="/favorites/<%- favorites[favorite]['id']%>/delete">
          <button type="submit">
            <i class="fas fa-heart"></i>
            Unfavourite
          </button>
        </form>
      </div>
    </div>
    </div>
      <% } %>
  </body>
</html>
