<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">

    <title>Media Buy & Sell - Home Page</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <img
      src="https://www.selfstorageplus.com/wp-content/uploads/2020/05/Storing-Vinyl-Records-Horizontally-Self-Storage-Plus-min.jpg"
      alt="Vinyl in record player">
    <h1>MEDIA BUY AND SELL</h1>
    <h3>Your #1 place to get CDs and Vinyls!</h3>
    <div>
      <h2>Featured Listings</h2>
      <h3>A curated selection of listings by our own staff!</h3>
      <section class="featured-listings">
      </section>
    </div>
    <% for (let featured in data) { %>
    <div class="featured-container">
      <section>
        <img src="<%=data[featured]['image_url'] %>" />
        <h4><%- data[featured]['title'] %></h4>
        <p>$<%- data[featured]['price'] %>.00</p>
      </section>
      <div class="action-buttons">
        <form method="GET" action="/listings/<%- data[featured]['id']%>">
          <button type="submit">
            <i class="far fa-eye"></i>
            View More
          </button>
        </form>
      </div>
      <% } %>
      <!-- <%- JSON.stringify(data) %> -->
  </body>

</html>
