<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Media Buy & Sell - Home Page</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="homepage-banner">
      <h1>Your #1 place to get CDs and Vinyls!</h1>
      <a href="/listings" class='btn'>
        Shop Albums
      </a>
      <!-- <h2>MEDIA BUY AND SELL</h2> -->
    </div>
    <div class="homepage-title">
      <h1>Featured Listings</h1>
      <h2>A curated selection of listings by our own staff!</h2>
      <section class="featured-listings">
      </section>
    </div>
    <div class="featured-container">
      <% for (let featured in data) { %>
      <div class="featured-item">
        <section>
          <img src="<%=data[featured]['image_url'] %>" />
          <div>
            <h4><%- data[featured]['title'] %></h4>
            <p>$<%- data[featured]['price'] %>.00</p>
        </section>
        <div class="action-buttons">
          <form method="GET" action="/listings/<%- data[featured]['id']%>">
            <button type="submit">
              <i class="far fa-eye"></i>
              View More
            </button>
          </form>
        </div>
      </div>
      <% } %>
      <!-- <%- JSON.stringify(data) %> -->
    </div>
    <%- include('partials/_footer') %>
  </body>

</html>
