<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Media Buy & Sell - Listings</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Browse Listings</h1>
    <form method="POST" action="/#">
      <label> Price Range:</label>
      <textarea name="text" placeholder="Minimum Price"></textarea>
      <textarea name="text" placeholder="Maximum Price"></textarea>
      <button type="submit">Filter</button>
    </form>
    <div>
      <!-- Only toggle the form once the create listing button is clicked? -->
      <h3>Create New Listing</h3>
      <form method="POST" action="/listings/:listingid">
        <label>Album Name:</label><br>
        <textarea name="text" placeholder="Album Name"></textarea><br>
        <label>Artist:</label><br>
        <textarea name="text" placeholder="Artist"></textarea><br>
        <label>Genre:</label><br>
        <textarea name="text" placeholder="Genre"></textarea><br>
        <label>Publisher:</label><br>
        <textarea name="text" placeholder="Publisher"></textarea><br>
        <label>Year Released:</label><br>
        <textarea name="text" placeholder="Year Released"></textarea><br>
        <label>Description:</label><br>
        <textarea name="text" placeholder="Description"></textarea><br>
        <label>Price:</label><br>
        <textarea name="text" placeholder="Price"></textarea><br>
        <label>Image:</label><br>
        <textarea name="text" placeholder="Image URL"></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <section>
      <div>
        <% for (let listing in listings) { %>
          <div class="listing-container">
          <section>
            <img src="<%=listings[listing]['image_url'] %>" />
            <h4><%= listings[listing]['title'] %></h4>
            <p>$<%= listings[listing]['price'] %>.00</p>
          </section>
         <div class="action-buttons">
            <form method="GET" action="/listing/%= listings[listing]['listingid']%>">
              <button type="submit">
                <i class="far fa-eye"></i>
                View More
              </button>
            </form>
            <form method="GET" action="/messages/%= listings[listing]['seller_id']%>">
              <button type="submit">
                <i class="fas fa-comments"></i>
                Message Seller
              </button>
            </form>
            <form method="POST" action="/favorites/%= listings[listing]['listingid']%>">
              <button type="submit">
                <i class="fas fa-heart"></i>
                Add to Favourites
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </section>
  </body>
</html>
