<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Media Buy & Sell - Listings</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Browse Listings</h1>
    <form class="price-filter" method="POST" action="/#">
      <label> Price Range:</label>
      <textarea name="text" placeholder="Minimum Price"></textarea>
      <textarea name="text" placeholder="Maximum Price"></textarea>
      <button type="submit">Filter</button>
    </form>
    <section>
      <div>
        <% for (let listing in listings) { %>
          <div class="listing-container">
          <section>
            <img src="<%=listings[listing]['image_url'] %>" />
            <h4><%- listings[listing]['title'] %></h4>
            <p>$<%- listings[listing]['price'] %>.00</p>
          </section>
         <div class="action-buttons">
            <form method="GET" action="/listings/<%- listings[listing]['id']%>">
              <button type="submit">
                <i class="far fa-eye"></i>
                View More
              </button>
            </form>
            <form method="GET" action="/messages/<%- listings[listing]['seller_id']%>">
              <button type="submit">
                <i class="fas fa-comments"></i>
                Message Seller
              </button>
            </form>
            <form method="POST" action="/favorites/<%- listings[listing]['id']%>">
              <button id="faveButton" type="submit">
                <i class="far fa-heart"></i>
                Add to Favourites
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </section>
  </body>
</html>
