<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Media Buy & Sell - Listing</title>
    <%- include('partials/_head') %>
    <!-- <script src="https://unpkg.com/moment"></script> -->
    <!-- <script src="javascript/libraries/moment.js"></script> -->
    <!-- <script>
      const datePosted = moment(listing[0]['created_at']).fromNow();

    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous">
    </script>
  </head>

  <body id="listing-id-page">
    <%- include('partials/_header') %>
    <img src="<%=listing[0]['image_url'] %>" />
    <div class="listing-info">
      <h1><%- listing[0]['title']%></h1>
      <% if (listing[0]['active']) { %>
      <p> IN STOCK </p>
      <% } else { %>
      <p> SOLD OUT</p>
      <% } %>
      <p>$<%- listing[0]['price'] %>.00</p>
      <p><%- listing[0]['description'] %></p>
      <p>Date Posted:
        <% const readableDate = new Date(listing[0]['created_at']).toLocaleDateString('en-gb'); %>
        <%= readableDate %>
      </p>
      <% if (user_id === "user") { %>
      <div class="action-buttons">
        <form method="GET" action="/messages/">
          <button type="submit">
            <i class="fas fa-comments"></i>
            Message Seller
          </button>
        </form>
        <form class="faveButton" method="POST" action="/favorites/<%- listing[0]['id']%>">
          <button type="submit">
            <i class="fas fa-heart"></i>
            Add to Favourites
          </button>
        </form>
        <% } else if (user_id === "admin") { %>
        <section class="admin-actions">
          <form method="POST" action="/listings/<%- listing[0]['id']%>/delete">
            <button type="submit">
              <i class="fas fa-trash-alt"></i>
              Delete Listing
            </button>
          </form>
          <form method="POST" action="/listings/<%- listing[0]['id']%>/update">
            <button type="submit">
              <i class="fas fa-ban"></i>
              Mark as Sold
            </button>
          </form>
          <% } %>
        </section>
      </div>
    </div>

  </body>

</html>
