<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Media Buy & Sell - Listing</title>
    <%- include('partials/_head') %>
    <!-- <script src="https://unpkg.com/moment"></script> -->
    <!-- <script src="javascript/libraries/moment.js"></script> -->
    <script>
      const datePosted = moment(listing[0]['created_at']).fromNow();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1><%- listing[0]['title']%></h1>
    <img src="<%=listing[0]['image_url'] %>" />
    <% if (listing[0]['active']) { %>
      <p> IN STOCK </p>
    <% } else { %>
      <p> SOLD OUT</p>
      <% } %>
    <p>$<%- listing[0]['price'] %>.00</p>
    <p><%- listing[0]['description'] %></p>
    <p>Date Posted:
      <% const readableDate = new Date(listing[0]['created_at']).toLocaleDateString('en-gb'); %>
      <%= readableDate %>
      <!-- <script>
        console.log(moment().format());
      </script> -->
      <!-- <script>
        moment().format();
      </script> -->
    </p>
    <div class="action-buttons">
      <form method="GET" action="/messages/<%- listing[0]['seller_id']%>">
        <button type="submit">
          <i class="fas fa-comments"></i>
          Message Seller
        </button>
      </form>
      <form method="POST" action="/favorites/<%- listing[0]['id']%>">
        <button type="submit">
          <i class="fas fa-heart"></i>
          Add to Favourites
        </button>
      </form>
    </div>

  </body>

</html>
